h2 {
  padding: 0.5em;
}
.bloglist {
  margin-block: 2em;
  width: min(1196px, 100%);
  margin: auto;
  list-style-type: none;
}

@media only screen and (min-width: 800px) {
  .bloglist {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    align-items: flex-start;
  }
}