.register-form {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.2em;
  text-align: center;
  width: 100%;
  margin-top: 4em;
}

.register-form h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.register-form input[type="text"],
.register-form input[type="tel"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: .8em;
  margin-bottom: .8em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-form label {
  display: block;
  font-weight: bold;
}

.register-form label input[type="radio"] {
  margin-left: 1em;
}

.register-form label input[type="checkbox"] {
  margin-right: 5px;
}

.register-form button {
  background-color: #5d9892;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  padding: .8em 1.2em;
}

.register-form p {
  margin-top: 1em;
}

.register-form p span a {
  color: #5d9892;
  text-decoration: none;
}

/* Styles spécifiques au mode "responsive" pour une largeur minimale de 900px */
@media screen and (min-width: 900px) {
  .register-form {
    width: 400px;
    margin: 0 auto;
  }
}